*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.container{
	margin:0 auto;
	width:90%;	
}

.row{
	display:flex;
	flex-wrap:wrap;
}

a{
	text-decoration:none;
}

header{
	background-color:#006699;
	padding:15px 0px;
}
.main-nav h2 a{
	color:white;	
 }


.menu-bar ul{
	display:flex;
	list-style:none;
	justify-content:space-evenly;
}
.justify-content{
	justify-content:space-between;
}
.menu-bar ul li a{
	color:white;
	width:0%;
}
.menu-bar ul li a i{
	margin-left:10px;
}


a.us{
	 border:2px solid #33ccff;
	 border-radius:15px;
	 padding:10px 25px ;
 }
	
	
	
 
.menu-bar ul li a:hover{
	width:100px;
	background-color:#33ccff;
}
.menu-bar ul li a.active{
	width:100%;
	background-color:blue;
}



.col-1{
	width:8.33%;
	padding:0 15px;
}
.col-2{
	width:16.66%;
	padding:0 15px;
}
.col-3{
	width:24.99%;
	padding:0 15px;
}
.col-4{
	width:33.32%;
	padding:0 15px;
}
.col-5{
	width:41.65%;
	padding:0 15px;
}
.col-6{
	width:49.98%;
	padding:0 15px;
}
.col-7{
	width:58.31%;
	padding:0 15px;
}
.col-8{
	width:66.64%;
	padding:0 15px;
}
.col-9{
	width:74.97%;
	padding:0 15px;
}
.col-10{
	width:83.3%;
	padding:0 15px;
}
.col-11{
	width:91.63%;
	padding:0 15px;
}
.col-12{
	width:99.96%;
	padding:0 15px;
}



